body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial, verdana, helvetica, tahoma, Sans-serif;
}

header {
  width: 100%;
  height: 200px;
  border-bottom: 3px solid #78b749;
  background: #709328;
  padding-top: 50px;
}

#header-wrapper {
  margin: auto;
  width: 980px;
}

header h1 {
  float: left;
  color: #ffffff;
  font: normal bold 205% Georgia, Times, serif;
  text-align: left;
  margin: 0px 0px 0px 0px;
  padding: 0px 10px 0px 0px;
}

header .description {
  float: left;
  color: #e1ffa2;
  font: normal normal 111% Trebuchet, Trebuchet MS, Arial, sans-serif;
  text-align: left;
  margin: 0px 0px 0px 0px;
  padding: 10px 0px 0px 0px;
}

main {
  margin: auto;
  margin-top: -160px;
  position: relative;
  width: 980px;
}

#main-wrapper {
  padding: 5px 5px 5px 5px;
  background: #ffffff;
  border: 1px solid #709328;
}

#left-side {
  float: left;
  border-right: 1px solid #709328;
  word-wrap: break-word;
  overflow-x: hidden;
  width: 67%;
  color: #333333;
  font: normal normal 69% Verdana, sans-serif;
  height: 55vh;
}

.card-wrapper {
  margin: 0px 0px 10px 0px;
  padding: 10px 15px 0px 15px;
}

.card-title {
  margin: 0px 0px 5px 0px;
  padding: 5px 0px 5px 0px;
  color: #940f04;
  font: normal bold 144% Trebuchet, Trebuchet MS, Arial, sans-serif;
  text-decoration: none;
  text-align: left;
  line-height: 1.6em;
}

.card-body p {
  margin: 0px 0px 0px 0px;
  padding: 5px 0px 10px 0px;
  display: inline;
  height: 1%;
  overflow: visible;
}

blockquote {
  margin: 15px 30px 15px 30px;
  padding: 0px 0px 0px 0px;
  color: #191919;
  font: italic normal 100% Georgia, Times, serif;
  line-height: 1.6em;
}

.card ul {
  margin: 0px 0px 0px 0px;
  padding: 15px 0px 15px 30px;
  list-style-type: disc;
  line-height: 2em;
  font-size: 95%;
}

.card li {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  line-height: 1.5em;
}

.card-footer {
  display: block;
  margin: 20px 0px 0px 0px;
  padding: 10px 0px 50px 0px;
  text-align: left;
  font: normal normal 100% Verdana, sans-serif;
  color: #4c4c4c;
  font-weight: normal;
  line-height: 1.4em;
  text-decoration: none;
  background: url(../image/3039118580_f7ed670a1b_o.gif) no-repeat bottom center
    #ffffff;
  border-top: 1px dotted #cccccc;
}

#right-side {
  overflow-x: hidden;
  height: 55vh;
}
#sidebar-title {
  width: 275px;
  padding: 15px 15px 0px 15px;
  color: #4c4c4c;
}

.sidebar {
  line-height: 1.4em;
  font: normal normal 67% Verdana, sans-serif;
}

.inputwrapper {
  padding-bottom: 30px;
}

#sidebar-title h2 {
  margin: -10px 0px 7px 0px;
  padding: 10px 0px 5px 0px;
  color: #940f04;
  font: normal bold 138% Trebuchet, Trebuchet MS, Arial, sans-serif;
  background: url(../image/3038316021_2c9401fec3_o.gif) no-repeat bottom left
    #ffffff;
}

#sidebar-wrapper {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  word-wrap: break-word;
  overflow: hidden;
}

#sidebar-form {
  width: auto;
  margin: 0px 3px 3px 0px;
  padding: 15px 15px 0px 15px;
  color: #4c4c4c;
}

#sidebar-form h2 {
  margin: -10px 0px 7px 0px;
  padding: 5px 0px 2px 0px;
  color: #940f04;
  font: normal bold 138% Trebuchet, Trebuchet MS, Arial, sans-serif;
  border-bottom: 1px solid #940f04;
}

footer {
  margin: 0;
  padding: 10px 0px 5px 0px;
  width: 100%;
  position: absolute;
  border-bottom: 3px solid #78b749;
  background: #660000;
  color: #ffffff;
  left: 0;
  bottom: 0;
  text-align: center;
}
